In [ ]:
#21
'''Using the built-in functions on Numbers perform following operations
a) Round of the given floating point number. Example:  n=0.543 then round it next decimal number, i.e n=1.0 Use round() function
b) Find out the square root of a given number. (Use sqrt(x) function)
c) Generate random number between 0, and 1 ( use  random() function)
d) Generate random number between 10 and  500. (Use uniform() function)
e) Explore all Math and Random module functions  on a given number/ List.
'''

In [34]:
n=0.543
round(n)

1

In [36]:
import math 

math.sqrt(n)

0.7368853370776216

In [58]:
import random
random.uniform(0, 1)

0.8261027206200493

In [59]:
import random
random.uniform(10, 500)

419.1288772951839

In [181]:
lis = dir(math)
lis

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [192]:
x = int(input ('type x'))
y = int(input ('type y'))

type x1
type y1

In [196]:
#22
'''Read the value x and y from the user and apply all trigonometric functions on these numbers. Note: 
Refer the tutorial Trigonometric operation table.'''


print( math.acos(x))
print( math.asin(x))


print( math.atan(x))

print( math.atan2(y, x))

print( math.cos(x))


print( math.sin(x))

print( math.tan(x))


print( math.degrees(x))


print( math.radians(x))


print( math.acosh(x))


print( math.asinh(x))



print( math.cosh(x))

print( math.sinh(x))

print( math.tanh(x))


print( math.erf(x))

print( math.erfc(x))


print( math.gamma(x))


print( math.lgamma(x))


print( math.pi)

print( math.e)

print( math.tau)


print( math.inf)

print( math.nan)

0.0
1.5707963267948966
0.7853981633974483
0.7853981633974483
0.5403023058681398
0.8414709848078965
1.5574077246549023
57.29577951308232
0.017453292519943295
0.0
0.8813735870195429
1.5430806348152437
1.1752011936438014
0.7615941559557649
0.8427007929497149
0.1572992070502851
1.0
0.0
3.141592653589793
2.718281828459045
6.283185307179586
inf
nan

In [198]:
#23

'''Find the area of Circle given that radius of a circle. (Use pi value from Math module as mathematical constant)'''
radius = 20
math.pi*(radius^2)

69.11503837897544

In [201]:
#24
'''Special Characters: Write program to explore all Escape characters specified in Tutorial (Under String chapter)'''

ch = "I\nLove\tGeeksforgeeks"
  
print ("The string without r / R is : ") 
print (ch) 
  
print ("\r") 
  
# using "r" to prevent resolution 
ch1 = r"I\nLove\tGeeksforgeeks"
  
print ("The string after using r is : ") 
print (ch1) 
  
print ("\r") 
  
# using "R" to prevent resolution 
ch2 = R"I\nLove\tGeeksforgeeks"
  
print ("The string after using R is : ") 
print (ch2)

The string without r / R is :
I
Love	Geeksforgeeks

The string after using r is :
I\nLove\tGeeksforgeeks

The string after using R is :
I\nLove\tGeeksforgeeks

In [209]:
#25
'''Write a program to print the different data types (Numbers, strings characters) using the Format symbols (Refer to different format symbols specified in Tutorial)
'''
a = 1
b = 'ada'
c = float(1414)
d=13.123

print(type(a ))
print(type(b ))
print(type(c ))
print(type(d ))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>

In [ ]:
#26

'''Receive the encoded string from your friend & decode it to check the original message. PS: You will receive Encoded string and the Algorithm used for encoding.'''

In [213]:
# unicode string
string = 'pythön!'

# print string
print('The string is:', string)

# default encoding to utf-8
string_utf = string.encode()

# print result
print('The encoded version is:', string_utf)

print(string_utf.decode())

The string is: pythön!
The encoded version is: b'pyth\xc3\xb6n!'
pythön!

In [235]:
#27

'''Write a program to check given string is Palindrome or not.That is reverse the given string and check whether it is same as original string, if so then it is palindrome.
Example: String = "malayalam"  reverse string = "malayalam" hence given string is palindrome. Use built functions to check given string is palindrome or not.
'''

string = 'malayalam'

if (string[::-1]==string):
    print('it is the palindrome')

it is the palindrome

In [ ]:
#28
'''Write a program to check how many ovals present in the given string. That is, count the number of " a e i o u" in the given string and print the numbers against each oval. Example:- "This is Python" Number of total ovals = 3, i = 2, o =1
'''

In [244]:
vowels=list('aeiou')
counter = 0
for i in list(str1):
    if (i in vowels):
        counter+=1
print(counter)

4

In [256]:
lis=[]
for i in set(list(str1)):
    if (i in vowels):
        lis.append((i,list(str1).count('a')))
lis

[('a', 4)]

In [ ]:
#29
'''Apply all built in functions on Strings in your program. Note: There are 40 string functions. Use Tutorial for the help. Note: Each program should have 5 string built in functions(so write 8 programs to cover all string functions)'''

In [258]:
string= 'malayalam'
string

'malayalam'

In [259]:
string.lower()

'malayalam'

In [260]:
string.upper()

'MALAYALAM'

In [261]:
string.isalpha()

True

In [262]:
string.isalnum()

True

In [264]:
string.isdecimal()

False

In [265]:
string.capitalize()

'Malayalam'

In [266]:
string.encode()

b'malayalam'

In [267]:
string.isdigit()

False

In [268]:
string.islower()

True

In [269]:
string.isupper()

False

In [ ]:
#30
'''Write a program to Sort given N numbers (Use only loop structures and Conditions to sort the elements. Use Bubble sort / Selection sort technique to sort the elements of List) Note: Don't use built in functions to sort.'''

In [273]:
lis = [4,5,5,8,1,6,23,7,9,5]

for i in range(len(lis)):
    min1 = i
    for j in range(i+1,len(lis)):
        if(lis[min1]>lis[j]):
            min1 = j
    lis[min1],lis[i]=lis[i],lis[min1]
lis

[1, 4, 5, 5, 5, 6, 7, 8, 9, 23]

In [274]:
lis = [4,5,5,8,1,6,23,7,9,5]

In [277]:
(len(lis)//2)+1

6

In [278]:
def binarySearch(arr, l, r, x): 
  
    while l <= r: 
  
        mid = l + (r - l)//2; 
          
        # Check if x is present at mid 
        if arr[mid] == x: 
            return mid 
  
        # If x is greater, ignore left half 
        elif arr[mid] < x: 
            l = mid + 1
  
        # If x is smaller, ignore right half 
        else: 
            r = mid - 1
      
    # If we reach here, then the element was not present 
    return -1

In [281]:
binarySearch(lis,0,len(lis),9)

8

In [ ]:
#32
'''Write a program to perform following operations on List. Create three lists as List1, List2 and List3 having 5 city names each list.
a. Find the length city of each list element and print city and length
b. Find the maximum and minimum string length element of each list
c. Compare each list and determine which city is biggest & smallest with length.
d. Delete first and last element of each list and print list contents.
'''

In [293]:
list0=['chennai','mumbai','kolkatta','pune','banglore']

In [345]:
list1=[]
list2 =[]
list3=[]
for i in list0:
    list1.append([i+str(1),str(len(i+str(1)))] )
    list2.append((i+str(2),len(i+str(2))))
    list3.append((i+str(3),len(i+str(3))))

In [310]:
list2

[('chennai2', 8),
 ('mumbai2', 7),
 ('kolkatta2', 9),
 ('pune2', 5),
 ('banglore2', 9)]

In [311]:
list3

[('chennai3', 8),
 ('mumbai3', 7),
 ('kolkatta3', 9),
 ('pune3', 5),
 ('banglore3', 9)]

In [338]:
list1

[['chennai1', 8],
 ['mumbai1', 7],
 ['kolkatta1', 9],
 ['pune1', 5],
 ['banglore1', 9]]

In [346]:
list1

[['chennai1', '8'],
 ['mumbai1', '7'],
 ['kolkatta1', '9'],
 ['pune1', '5'],
 ['banglore1', '9']]

In [348]:
for i in range(len(list1)):
    list1[i][0],list1[i][1]=list1[i][1],list1[i][0]

In [350]:
list1.sort()

In [356]:
min_element=list1[0]
min_element

['5', 'pune1']

In [355]:
max_element=list1[-1]
max_element

['9', 'kolkatta1']

In [358]:
list1.remove(['5', 'pune1'])

In [362]:
list1.remove(['9', 'kolkatta1'])

In [363]:
list1

[['7', 'mumbai1'], ['8', 'chennai1'], ['9', 'banglore1']]

In [364]:
#33

'''Create a list with 7 elements and perform following operations. Let the list be initialized with List1 any 5 city names;
a) Append a new city name to the List
b) Insert a city name at 4th index position
c) Sort the list and print all elements
d) Sort the elements of the list in descending order.
e) delete last three elements using pop operation
'''

'Create a list with 7 elements and perform following operations. Let the list be initialized with List1 any 5 city names;\na) Append a new city name to the List\nb) Insert a city name at 4th index position\nc) Sort the list and print all elements\nd) Sort the elements of the list in descending order.\ne) delete last three elements using pop operation\n'

In [622]:
import datetime as dt
datetime1 = dt.datetime.now()

In [659]:
datetime1 = dt.datetime.now()
datetime1.second

3

In [ ]:
while(datetime1.minute!=)
datetime1.hour,datetime1.minute,datetime1.second

In [784]:
#40
import time

counter =0
while(True):
    counter=counter+2
    time.sleep(1)
    datetime1 = dt.datetime.now()
    print(datetime1.second)
    if (counter >=5):        
        break
        print("Loop stopped")

14
15
16

In [785]:
#!/usr/bin/env python
import psutil
# gives a single float value
psutil.cpu_percent()
# gives an object with many fields
psutil.virtual_memory()
# you can convert that object to a dictionary 
dict(psutil.virtual_memory()._asdict())

{'total': 17091694592,
 'available': 11127681024,
 'percent': 34.9,
 'used': 5964013568,
 'free': 11127681024}

In [796]:
import datetime as dt
start=dt.datetime.now()
for i in list1:
    print(i)
end=dt.datetime.now() 
print(end-start)

['7', 'mumbai1']
['8', 'chennai1']
['9', 'banglore1']
0:00:00

In [ ]:
#39
'''Using Time and Calendar module, Print current date and time. Print current month calendar.'''

In [837]:
import datetime as dt
start=dt.datetime.now()
print((start.time()))
if (start.time().hour >= 13):
    print(start.time().hour-12,start.time().minute,start.time().second)

16:42:40.915812
4 42 40

In [ ]:
#38
'''dict1 ={'Name':'Ramakrishna','Age':25}
dict2={'EmpId':1234,'Salary':5000}
'''

In [848]:
dict1={'Name':'Ramakrishna','Age':25}
dict2={'EmpId':1234,'Salary':5000}

In [857]:
dict3={**dict1, **dict2}

In [862]:
dict3['Salary']=dict3['Salary']*(dict3['Salary']*0.1)

In [864]:
dict3['Age']=26

In [865]:
dict3

{'Name': 'Ramakrishna', 'Age': 26, 'EmpId': 1234, 'Salary': 2500000.0}

In [866]:
dict3["grade"]="B1"

In [867]:
dict3

{'Name': 'Ramakrishna',
 'Age': 26,
 'EmpId': 1234,
 'Salary': 2500000.0,
 'grade': 'B1'}

In [871]:
for i in dict3.keys():
    print(i,dict3[i])

Name Ramakrishna
Age 26
EmpId 1234
Salary 2500000.0
grade B1

In [872]:
del dict3['Age']

In [873]:
dict3

{'Name': 'Ramakrishna', 'EmpId': 1234, 'Salary': 2500000.0, 'grade': 'B1'}

In [874]:
'''Create 3 dictionaries (dict1, dict2, dict3) with 3 elements each. Perform following operations
a) Compare dictionaries to determine the biggest.
b) Add new elements in to the dictionaries dict1, dict2
c) print the length of dict1, dict2, dict3.
d) Convert dict1, dict2, and dict3 dictionaries as string and concatenate all strings together.
'''

'Create 3 dictionaries (dict1, dict2, dict3) with 3 elements each. Perform following operations\na) Compare dictionaries to determine the biggest.\nb) Add new elements in to the dictionaries dict1, dict2\nc) print the length of dict1, dict2, dict3.\nd) Convert dict1, dict2, and dict3 dictionaries as string and concatenate all strings together.\n'

In [875]:
dict1={'Name':'Ramakrishna','Age':25}
dict2={'EmpId':1234,'Salary':5000}
dict3={'Name': 'Ramakrishna', 'EmpId': 1234, 'Salary': 2500000.0, 'grade': 'B1'}

In [945]:
c=''
for i in dict3.values():
    c=c+ str(i)

In [952]:
c

'Ramakrishna12342500000.0B1'

In [881]:
comapre=(dict1,dict2,dict3)

In [913]:
maximum=[['sdd',0]]
for i in comapre:
    print(i)
    if(maximum[0][1]<=len(i)):
        maximum=[]
        maximum=[[i,len(i)]]

{'Name': 'Ramakrishna', 'Age': 25}
{'EmpId': 1234, 'Salary': 5000}
{'Name': 'Ramakrishna', 'EmpId': 1234, 'Salary': 2500000.0, 'grade': 'B1'}

In [914]:
maximum

[[{'Name': 'Ramakrishna', 'EmpId': 1234, 'Salary': 2500000.0, 'grade': 'B1'},
  4]]

In [908]:
comapre

({'Name': 'Ramakrishna', 'Age': 25},
 {'EmpId': 1234, 'Salary': 5000},
 {'Name': 'Ramakrishna', 'EmpId': 1234, 'Salary': 2500000.0, 'grade': 'B1'})

In [ ]:
#36
'''Create two tuples tup1 & tup2 and apply all built in functions on tuples. ( Refer Tutorial for the Built in functions list)'''

In [959]:
tup1 =(1,'Ramesh','Ramesh')
tup2=(25,'kavi')
tup1.count('Ramesh')

2

In [963]:
tup1.index

In [964]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

In [966]:
tup1+tup2

(12, 34.56, 'abc', 'xyz')

In [967]:
len(tup1)

2

In [968]:
max(tup1)

34.56

In [969]:
min(tup1)

12

In [971]:
del tup1

NameError: name 'count' is not defined

In [975]:
cmp(tup1,tup1)

NameError: name 'cmp' is not defined

In [976]:
aList = [123, 'xyz', 'zara', 'abc']

In [983]:
dict(zip(aList,aList))

{123: 123, 'xyz': 'xyz', 'zara': 'zara', 'abc': 'abc'}

[12, 34.56, 12, 34.56]

In [998]:
list(tup1+tup1)

[12, 34.56, 12, 34.56]

In [ ]:
#34

'''Create 3 Lists (list1, list2, list3) with integer and perform following operations
a) Create Maxlist by taking 2 maximum elements from each list.
b) Find average value from all the elements of Maxlist.
c) Create a MinlIst by taking 2 minimum elements from each list 
d) Find the average value from all the elements of Minlist
'''

In [1000]:
list1=[]
list2=[]
list3=[]
for i in range(10):
    list1.append(i)
    list2.append(i+10)
    list3.append(i+8)

In [1007]:
max_2=sorted(list3[-2:])+sorted(list1[-2:])+sorted(list2[-2:])

In [1019]:
import math 
count1=0
for i in max_2:
    count1+=i
avg=count1/len(max_2)
avg

14.5

In [1023]:
min_2=sorted(list3[:2])+sorted(list1[:2])+sorted(list2[:2])
min_2

[8, 9, 0, 1, 10, 11]

In [1026]:
import math 
count1=0
for i in min_2:
    count1+=i
avg=count1/len(min_2)
avg

6.5

In [1027]:
#33
'''Create a list with 7 elements and perform following operations. Let the list be initialized with List1 any 5 city names;
a) Append a new city name to the List
b) Insert a city name at 4th index position
c) Sort the list and print all elements
d) Sort the elements of the list in descending order.
e) delete last three elements using pop operation
'''

'Create a list with 7 elements and perform following operations. Let the list be initialized with List1 any 5 city names;\na) Append a new city name to the List\nb) Insert a city name at 4th index position\nc) Sort the list and print all elements\nd) Sort the elements of the list in descending order.\ne) delete last three elements using pop operation\n'

In [1028]:
list0=['chennai','mumbai','kolkatta','pune','banglore','punesadasdsadsa','asdsadasdasdd']

In [1029]:
list0.append('new_city')

In [1030]:
list0

['chennai',
 'mumbai',
 'kolkatta',
 'pune',
 'banglore',
 'punesadasdsadsa',
 'asdsadasdasdd',
 'new_city']

In [1031]:
list0.insert(4,'city_name')

In [1032]:
list0

['chennai',
 'mumbai',
 'kolkatta',
 'pune',
 'city_name',
 'banglore',
 'punesadasdsadsa',
 'asdsadasdasdd',
 'new_city']

In [1033]:
for i in sorted(list0)[::-1]:
    print(i)

punesadasdsadsa
pune
new_city
mumbai
kolkatta
city_name
chennai
banglore
asdsadasdasdd

In [1034]:
new_list=sorted(list0)[::-1]

In [1035]:
new_list

['punesadasdsadsa',
 'pune',
 'new_city',
 'mumbai',
 'kolkatta',
 'city_name',
 'chennai',
 'banglore',
 'asdsadasdasdd']

In [1036]:
new_list.pop()

'asdsadasdasdd'

In [1037]:
new_list.pop()

'banglore'

In [1038]:
new_list.pop()

'chennai'

In [1039]:
new_list

['punesadasdsadsa', 'pune', 'new_city', 'mumbai', 'kolkatta', 'city_name']